<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理登录</title>
    <link rel="stylesheet" href="../../assets/css/login.min.css">
</head>

<body>
    <div class="login-box">
        <!--<form action="/manager/admin" method="post">-->
        <div class="login-input">
            <label for="admin">帐号:</label>
            <input type="text" id="admin" name="admin">
        </div>
        <div class="login-input">
            <label for="password">密码:</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="login-submit">
            <a href="javascript:;">
                <input type="submit" name="" id="logsub" value="登 录">
            </a>
        </div>
        <!--</form>-->
    </div>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/login.min.js"></script>
</body>

</html>