.top-wrapper {
  background-color: #333333;
}
.top-wrapper .top {
  height: 40px;
  line-height: 40px;
}
.top-wrapper .top .nav {
  float: left;
}
.top-wrapper .top .nav ul li {
  float: left;
}
.top-wrapper .top .nav .download-app {
  position: relative;
}
.top-wrapper .top .nav .download-app .app::after {
  display: none;
  position: absolute;
  top: 30px;
  left: 14px;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  border-top: none;
}
.top-wrapper .top .nav .download-app .app:hover::after {
  display: block;
}
.top-wrapper .top .nav .download-app .app:hover .qrcode {
  display: block;
  height: 150px;
}
.top-wrapper .top .nav .download-app .qrcode {
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: -40px;
  width: 124px;
  height: 0;
  line-height: 1;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: height 0.3s;
  z-index: 99;
}
.top-wrapper .top .nav .download-app .qrcode img {
  margin: 17px;
  width: 90px;
  height: 90px;
}
.top-wrapper .top .nav .download-app .qrcode div {
  font-size: 16px;
  color: #000;
}
.top-wrapper .top .user,
.top-wrapper .top .shop-cart {
  float: right;
}
.top-wrapper .top .user ul li {
  float: left;
}
.top-wrapper .top .line {
  color: #424242;
  margin: 0 5px;
}
.top-wrapper .top a {
  display: inline-block;
  font-size: 12px;
  color: #b0b0b0;
}
.top-wrapper .top .shop-cart {
  position: relative;
  width: 120px;
  height: 40px;
  margin-left: 15px;
  text-align: center;
  background-color: #424242;
}
.top-wrapper .top .shop-cart .cart {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.top-wrapper .top .shop-cart .cart .cart-icon {
  vertical-align: top;
  font-size: 16px;
  margin-right: 5px;
}
.top-wrapper .top .shop-cart .shopcart-list {
  overflow: hidden;
  position: absolute;
  top: 40px;
  right: 0;
  width: 320px;
  height: 0;
  line-height: 100px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: height 0.3s;
  z-index: 99;
}
.top-wrapper .top .shop-cart .shopcart-list span {
  font-size: 12px;
}
.top-wrapper .top .shop-cart:hover .cart {
  color: #ff6700;
  background-color: #fff;
}
.top-wrapper .top .shop-cart:hover .shopcart-list {
  height: 100px;
  display: block;
}
.top-wrapper .top a:hover {
  color: #fff;
}
.menu-nav-wrapper {
  position: relative;
  width: 100%;
  height: 100px;
}
.menu-nav-wrapper .menu-nav {
  height: 100px;
}
.menu-nav-wrapper .menu-nav .logo {
  position: relative;
  overflow: hidden;
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-color: #ff6700;
}
.menu-nav-wrapper .menu-nav .logo li {
  position: absolute;
  width: 50px;
  height: 50px;
}
.menu-nav-wrapper .menu-nav .logo li img {
  width: 50px;
  height: 50px;
}
.menu-nav-wrapper .menu-nav .logo .mi-logo {
  left: 0;
  transition: left 0.1s;
}
.menu-nav-wrapper .menu-nav .logo .mi-home {
  display: none;
}
.menu-nav-wrapper .menu-nav .logo:hover .mi-logo {
  left: -50px;
}
.menu-nav-wrapper .menu-nav .logo:hover .mi-home {
  display: block;
}
.menu-nav-wrapper .menu-nav .server {
  float: left;
  height: 88px;
  margin-top: 12px;
  margin-left: 50px;
}
.menu-nav-wrapper .menu-nav .server li {
  float: left;
  height: 88px;
  line-height: 88px;
  color: #333;
  font-size: 16px;
  padding-right: 20px;
}
.menu-nav-wrapper .menu-nav .server li a {
  display: block;
  height: 60px;
}
.menu-nav-wrapper .menu-nav .server li a:hover {
  color: #ff6700;
}
.menu-nav-wrapper .menu-nav .server .shop-category {
  position: relative;
}
.menu-nav-wrapper .menu-nav .server .shop-category .all-goods {
  visibility: hidden;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list {
  position: absolute;
  top: 88px;
  left: -100px;
  width: 216px;
  height: 460px;
  background-color: rgba(204, 204, 204, 0.3);
  z-index: 99;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul {
  margin: 20px 0;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li {
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  padding: 0;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li:hover {
  background-color: #ff6700;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li:hover .hover-style {
  color: #fff;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li:hover .list-info4,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li:hover .list-info3,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li:hover .list-info2 {
  display: block;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li a {
  box-sizing: border-box;
  display: block;
  width: 206px;
  height: 42px;
  padding-left: 10px;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li i {
  float: right;
  font-size: 20px;
  font-weight: bold;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info4 {
  width: 1010px;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info3 {
  width: 756px;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info2 {
  width: 504px;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info2,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info3,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info4 {
  display: none;
  position: absolute;
  top: 0;
  left: 216px;
  height: 459px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info2 ul,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info3 ul,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info4 ul {
  float: left;
  margin: 0;
  line-height: 1;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info2 ul li,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info3 ul li,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info4 ul li {
  clear: both;
  width: 252px;
  height: 76px;
  line-height: 40px;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info2 ul li:hover,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info3 ul li:hover,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info4 ul li:hover {
  background-color: #fff;
  color: #ff6700;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info2 ul li a,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info3 ul li a,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info4 ul li a {
  box-sizing: border-box;
  display: block;
  width: 252px;
  height: 76px;
  padding: 20px;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info2 ul li a img,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info3 ul li a img,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info4 ul li a img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info2 ul li a span,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info3 ul li a span,
.menu-nav-wrapper .menu-nav .server .shop-category .shop-category-list ul li .list-info4 ul li a span {
  float: left;
}
.menu-nav-wrapper .menu-nav .server .shop-goods:hover ~ .shop-info-wrapper,
.menu-nav-wrapper .menu-nav .server .shop-info-wrapper:hover {
  height: 200px;
  border-top: 1px solid #ccc;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.menu-nav-wrapper .menu-nav .server .shop-info-wrapper {
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.3s;
  z-index: 99;
  background-color: #fff;
}
.menu-nav-wrapper .menu-nav .server .shop-info-wrapper .shop-info li {
  float: left;
  width: 180px;
  height: 150px;
  line-height: 1;
  margin: 25px 0;
  text-align: center;
  padding: 0;
}
.menu-nav-wrapper .menu-nav .server .shop-info-wrapper .shop-info li a {
  height: 0;
}
.menu-nav-wrapper .menu-nav .server .shop-info-wrapper .shop-info li .shop-img {
  width: 160px;
  height: 110px;
  margin-bottom: 10px;
}
.menu-nav-wrapper .menu-nav .server .shop-info-wrapper .shop-info li .shop-img img {
  width: 160px;
  height: 110px;
  padding: 0 10px;
}
.menu-nav-wrapper .menu-nav .server .shop-info-wrapper .shop-info li .title {
  line-height: 20px;
  font-size: 12px;
  color: #333;
}
.menu-nav-wrapper .menu-nav .server .shop-info-wrapper .shop-info li .price {
  line-height: 20px;
  font-size: 12px;
  color: #ff6700;
}
.menu-nav-wrapper .menu-nav .server .shop-info-wrapper .shop-info .line {
  width: 1px;
  height: 100px;
  background-color: #e0e0e0;
  margin: 25px 10px 75px;
  padding-right: 0;
}
.menu-nav-wrapper .menu-nav .search {
  position: relative;
  float: right;
  width: 300px;
  height: 50px;
  margin: 25px 0;
  line-height: 50px;
}
.menu-nav-wrapper .menu-nav .search input {
  float: left;
  width: 238px;
  height: 48px;
  padding-left: 10px;
  border: 1px solid #ccc;
}
.menu-nav-wrapper .menu-nav .search input:focus,
.menu-nav-wrapper .menu-nav .search input:focus ~ button {
  border-color: #ff6700;
}
.menu-nav-wrapper .menu-nav .search input:focus ~ .best-selling {
  display: none;
}
.menu-nav-wrapper .menu-nav .search input:focus ~ .hot-sell-shop {
  display: block;
  border: 1px solid #ff6700;
  border-top: none;
}
.menu-nav-wrapper .menu-nav .search button {
  float: left;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-left: none;
}
.menu-nav-wrapper .menu-nav .search button i {
  font-size: 20px;
}
.menu-nav-wrapper .menu-nav .search button:hover {
  border: none;
  background-color: #ff6700;
  color: #fff;
}
.menu-nav-wrapper .menu-nav .search .best-selling {
  position: absolute;
  top: 15px;
  left: 30%;
  line-height: 1;
}
.menu-nav-wrapper .menu-nav .search .best-selling a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  font-size: 12px;
  background-color: #ccc;
}
.menu-nav-wrapper .menu-nav .search .best-selling a:hover {
  color: #fff;
  background-color: #ff6700;
}
.menu-nav-wrapper .menu-nav .search .hot-sell-shop {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 250px;
  height: 300px;
  background-color: #fff;
  z-index: 9;
}
.menu-nav-wrapper .menu-nav .search .hot-sell-shop li {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding-left: 10px;
}
.menu-nav-wrapper .menu-nav .search .hot-sell-shop li:hover {
  background-color: #ccc;
}
.banner-wrapper .banner {
  position: relative;
  width: 1226px;
  height: 460px;
  overflow: hidden;
}
.banner-wrapper .banner ul {
  position: absolute;
  width: 7356px;
  height: 460px;
}
.banner-wrapper .banner ul li {
  float: left;
}
.banner-wrapper .banner ul li img {
  width: 1226px;
  height: 100%;
}
.banner-wrapper .banner .prev {
  position: absolute;
  top: 0;
  left: 216px;
  bottom: 0;
  margin: auto 0;
  width: 42px;
  height: 60px;
  background: url(../img/icon-slides.png) no-repeat;
  background-position: -84px;
}
.banner-wrapper .banner .prev:hover {
  background-position: left;
  cursor: pointer;
}
.banner-wrapper .banner .next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  width: 42px;
  height: 60px;
  background: url(../img/icon-slides.png) no-repeat;
  background-position: right;
}
.banner-wrapper .banner .next:hover {
  background-position: -42px;
  cursor: pointer;
}
.banner-wrapper .banner .circl-nav {
  position: absolute;
  bottom: 30px;
  right: 50px;
}
.banner-wrapper .banner .circl-nav a {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(248, 245, 245, 0.864);
  opacity: 0.5;
}
.banner-wrapper .banner .circl-nav a:hover {
  background-color: rgba(248, 245, 245, 0.864);
  border-color: rgba(0, 0, 0, 0.4);
}
.banner-wrapper .banner-footer {
  margin-top: 15px;
}
.banner-wrapper .banner-footer .left-menu {
  float: left;
  width: 216px;
  height: 160px;
  background-color: #5f5750;
}
.banner-wrapper .banner-footer .left-menu li {
  position: relative;
  float: left;
  width: 72px;
  height: 80px;
  text-align: center;
}
.banner-wrapper .banner-footer .left-menu li a {
  display: block;
  width: 72px;
  height: 50px;
  padding-top: 15px;
  color: #ceccca;
}
.banner-wrapper .banner-footer .left-menu li a i {
  font-size: 25px;
}
.banner-wrapper .banner-footer .left-menu li a span {
  display: block;
  font-size: 12px;
}
.banner-wrapper .banner-footer .left-menu li a:hover {
  color: #fff;
}
.banner-wrapper .banner-footer .left-menu li::before {
  position: absolute;
  top: 2px;
  left: 9px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: #665e57;
}
.banner-wrapper .banner-footer .left-menu li::after {
  position: absolute;
  top: 10px;
  left: 2px;
  content: '';
  width: 1px;
  height: 65px;
  background-color: #665e57;
}
.banner-wrapper .banner-footer .adimg-list {
  float: left;
  padding-left: 2px;
}
.banner-wrapper .banner-footer .adimg-list li {
  float: left;
  margin-left: 16px;
  width: 320px;
  height: 160px;
}
.banner-wrapper .banner-footer .adimg-list img {
  width: 320px;
  height: 160px;
}
.main-wrapper {
  background-color: #f5f5f5;
  margin-top: 20px;
}
.main-wrapper .main .discount-shop .hd {
  height: 58px;
}
.main-wrapper .main .discount-shop .hd h2 {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.main-wrapper .main .discount-shop .bd {
  position: relative;
}
.main-wrapper .main .discount-shop .bd .discount {
  box-sizing: border-box;
  float: left;
  width: 216px;
  height: 300px;
  background-color: #f1eded;
  border-top: 1px solid #e53935;
  text-align: center;
}
.main-wrapper .main .discount-shop .bd .discount .start-time {
  font-size: 20px;
  color: #ef3a3b;
  padding-top: 50px;
}
.main-wrapper .main .discount-shop .bd .discount img {
  margin: 20px auto;
}
.main-wrapper .main .discount-shop .bd .discount .describe {
  font-size: 15px;
  margin-bottom: 20px;
}
.main-wrapper .main .discount-shop .bd .discount .countdown {
  width: 168px;
  height: 46px;
  line-height: 46px;
  margin: 0 auto;
}
.main-wrapper .main .discount-shop .bd .discount .countdown span {
  float: left;
  width: 46px;
  height: 46px;
  background-color: #605751;
  font-size: 24px;
  color: #fff;
}
.main-wrapper .main .discount-shop .bd .discount .countdown i {
  float: left;
  width: 15px;
  height: 46px;
  color: #605751;
  font-size: 28px;
}
.main-wrapper .main .discount-shop .bd .discount-list {
  position: relative;
  float: left;
  width: 992px;
  height: 300px;
  margin-left: 18px;
  overflow: hidden;
}
.main-wrapper .main .discount-shop .bd .discount-list ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 4032px;
  height: 300px;
}
.main-wrapper .main .discount-shop .bd .discount-list ul li {
  box-sizing: border-box;
  width: 236px;
  height: 300px;
  float: left;
  margin-right: 16px;
  background-color: #fff;
  border-top: 1px solid #ff6709;
}
.main-wrapper .main .discount-shop .bd .discount-list ul li a {
  display: block;
  height: 260px;
  padding-top: 30px;
  text-align: center;
}
.main-wrapper .main .discount-shop .bd .discount-list ul li a .shop-img img {
  width: 160px;
  height: 160px;
}
.main-wrapper .main .discount-shop .bd .discount-list ul li a .title {
  margin: 0 20px;
  font-size: 14px;
  font-weight: normal;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-wrapper .main .discount-shop .bd .discount-list ul li a .describe {
  margin: 0 15px;
  margin-bottom: 12px;
  font-size: 12px;
  color: #b0b0b0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-wrapper .main .discount-shop .bd .discount-list ul li a .price {
  color: #ff6709;
}
.main-wrapper .main .discount-shop .bd .discount-list ul li a .price span {
  color: #ff6709;
}
.main-wrapper .main .discount-shop .bd .discount-list ul li a .price del {
  color: #b0b0b0;
}
.main-wrapper .main .discount-shop .bd .controls-arrow {
  position: absolute;
  top: -35px;
  right: 0;
  color: #b0b0b0;
}
.main-wrapper .main .discount-shop .bd .controls-arrow span {
  width: 24px;
  height: 16px;
  padding: 3px 5px;
  margin-left: -1px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
.main-wrapper .main .discount-shop .bd .controls-arrow span i {
  font-weight: bold;
}
.main-wrapper .main .discount-shop .bd .controls-arrow .disable {
  color: #e0e0e0;
  cursor: default;
}
.main-wrapper .main .discount-shop .bd .controls-arrow .enter {
  color: #ff6709;
  cursor: pointer;
}
.main-wrapper .main .discount-shop .bd .controls-arrow .leave {
  color: #b0b0b0;
  cursor: default;
}
.main-wrapper .main .poster {
  width: 1226px;
  height: 120px;
  margin: 20px 0;
}
.main-wrapper .main .poster a {
  display: block;
  width: 1226px;
  height: 120px;
}
.main-wrapper .main .poster a img {
  width: 1226px;
  height: 120px;
}
.main-wrapper .main .phone-page .hd {
  position: relative;
}
.main-wrapper .main .phone-page .hd .more {
  position: absolute;
  top: 20px;
  right: 0;
}
.main-wrapper .main .phone-page .hd .more a span {
  font-size: 16px;
  color: #424242;
}
.main-wrapper .main .phone-page .hd .more a i {
  width: 12px;
  height: 12px;
  padding: 4px;
  margin-left: 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
  background-color: #b0b0b0;
  color: #fff;
  vertical-align: 1px;
}
.main-wrapper .main .phone-page .hd .more a:hover span {
  color: #ff6700;
}
.main-wrapper .main .phone-page .hd .more a:hover i {
  background-color: #ff6700;
  color: #fff;
}
.main-wrapper .main .phone-page .bd .ad {
  float: left;
  width: 216px;
  height: 616px;
  transition: all 0.3s linear;
}
.main-wrapper .main .phone-page .bd .ad ul,
.main-wrapper .main .phone-page .bd .ad ul > li,
.main-wrapper .main .phone-page .bd .ad a {
  width: 216px;
  height: 616px;
}
.main-wrapper .main .phone-page .bd .ad a {
  display: block;
}
.main-wrapper .main .phone-page .bd .ad a img {
  width: 216px;
  height: 616px;
}
.main-wrapper .main .phone-page .bd .ad:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px 10px #e9e9e9;
}
.main-wrapper .main .phone-page .bd .phone-shop ul li {
  transition: all 0.3s linear;
}
.main-wrapper .main .phone-page .bd .phone-shop ul li:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px 10px #e9e9e9;
}
.main-wrapper .main .video-page {
  position: relative;
}
.main-wrapper .main .video-page .hd {
  position: relative;
}
.main-wrapper .main .video-page .hd .more {
  position: absolute;
  top: 20px;
  right: 0;
}
.main-wrapper .main .video-page .hd .more a span {
  font-size: 16px;
  color: #424242;
}
.main-wrapper .main .video-page .hd .more a i {
  width: 12px;
  height: 12px;
  padding: 4px;
  margin-left: 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
  background-color: #b0b0b0;
  color: #fff;
  vertical-align: 1px;
}
.main-wrapper .main .video-page .hd .more a:hover span {
  color: #ff6700;
}
.main-wrapper .main .video-page .hd .more a:hover i {
  background-color: #ff6700;
  color: #fff;
}
.main-wrapper .main .video-page .bd {
  margin: 0 !important;
}
.main-wrapper .main .video-page .bd ul {
  width: 1240px;
}
.main-wrapper .main .video-page .bd ul li {
  float: left;
  width: 296px;
  height: 285px;
  margin: 0 14px 25px 0;
  background-color: #fff;
  transition: all 0.3s linear;
}
.main-wrapper .main .video-page .bd ul li:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px 10px #e9e9e9;
}
.main-wrapper .main .video-page .bd ul li a {
  text-align: center;
}
.main-wrapper .main .video-page .bd ul li a .video-img {
  position: relative;
  width: 296px;
  height: 180px;
  margin: 0 0 28px;
}
.main-wrapper .main .video-page .bd ul li a .video-img img {
  width: 296px;
  height: 180px;
}
.main-wrapper .main .video-page .bd ul li a .video-img .play {
  position: absolute;
  left: 20px;
  bottom: 10px;
  width: 32px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 12px;
  color: #fff;
  overflow: hidden;
  transition: all 0.3s linear;
}
.main-wrapper .main .video-page .bd ul li a .video-img .play .play-icon {
  font-size: 15px;
  line-height: 20px;
}
.main-wrapper .main .video-page .bd ul li a .video-img:hover .play {
  background-color: #ff6700;
  border-color: #ff6700;
}
.main-wrapper .main .video-page .bd ul li a .title {
  margin: 0 14px 6px;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-wrapper .main .video-page .bd ul li a .describe {
  height: 18px;
  margin: 0 14px;
  font-size: 12px;
  color: #b0b0b0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-wrapper .main .video-page .video-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 450px;
  margin-left: -400px;
  margin-top: -225px;
  z-index: 999999;
}
.main-wrapper .main .video-page .video-box .video-title-box {
  width: 780px;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  background-color: #f5f5f5;
}
.main-wrapper .main .video-page .video-box .video-title-box .video-title {
  font-size: 18px;
  font-weight: 400;
  color: #424242;
}
.main-wrapper .main .video-page .video-box .video-title-box .close-icon {
  position: absolute;
  top: 0;
  right: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.main-wrapper .main .video-page .video-box .video-title-box .close-icon:hover {
  color: #fff;
  background-color: #ff6700;
}
.main-wrapper .main .video-page .video-box .video-content video {
  border: none;
  outline: none;
  width: 800px;
  height: 400px;
}
.main-wrapper .main .main-page .hd {
  position: relative;
  height: 58px;
}
.main-wrapper .main .main-page .hd h2 {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.main-wrapper .main .main-page .hd .more {
  position: absolute;
  top: 20px;
  right: 0;
}
.main-wrapper .main .main-page .hd .more ul {
  font-size: 16px;
}
.main-wrapper .main .main-page .hd .more ul li {
  float: left;
  margin-left: 20px;
  color: #424242;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s linear;
}
.main-wrapper .main .main-page .hd .more ul .active {
  color: #ff6700;
  border-color: #ff6700;
}
.main-wrapper .main .main-page .ad {
  float: left;
  width: 216px;
  height: 300px;
  transition: all 0.3s linear;
}
.main-wrapper .main .main-page .ad ul li {
  width: 216px;
  height: 300px;
  margin-bottom: 16px;
  transition: all 0.3s linear;
}
.main-wrapper .main .main-page .ad ul li:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px 10px #e9e9e9;
}
.main-wrapper .main .main-page .ad a {
  display: block;
  width: 216px;
  height: 300px;
}
.main-wrapper .main .main-page .ad a img {
  width: 216px;
  height: 300px;
}
.main-wrapper .main .main-page .bd {
  margin-bottom: 40px;
}
.main-wrapper .main .main-page .bd .goods-list {
  float: left;
  width: 1010px;
  height: 616px;
}
.main-wrapper .main .main-page .bd .goods-list ul {
  width: 1010px;
  height: 616px;
  padding-left: 2px;
}
.main-wrapper .main .main-page .bd .goods-list ul > li {
  width: 236px;
  height: 300px;
  float: left;
  margin-left: 16px;
  margin-bottom: 16px;
  background-color: #fff;
}
.main-wrapper .main .main-page .bd .goods-list li > a {
  display: block;
  height: 260px;
  padding-top: 30px;
  text-align: center;
}
.main-wrapper .main .main-page .bd .goods-list li > a .shop-img img {
  width: 160px;
  height: 160px;
}
.main-wrapper .main .main-page .bd .goods-list li > a .title {
  margin: 0 10px;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-wrapper .main .main-page .bd .goods-list li > a .describe {
  margin: 0 15px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 18px;
  color: #b0b0b0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-wrapper .main .main-page .bd .goods-list li > a .price {
  color: #ff6709;
}
.main-wrapper .main .main-page .bd .goods-list li > a .price span {
  color: #ff6709;
}
.main-wrapper .main .main-page .bd .goods-list li > a .price del {
  color: #b0b0b0;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list > li:not(:last-child) {
  transition: all 0.3s linear;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list > li:not(:last-child):hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px 10px #e9e9e9;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list {
  background-color: #f5f5f5;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul {
  width: 236px;
  height: 300px;
  padding: 0;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .last-shop,
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .more-shop {
  transition: all 0.3s linear;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .last-shop:hover,
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .more-shop:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px 10px #e9e9e9;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .last-shop {
  position: relative;
  width: 236px;
  height: 90px;
  margin: 0;
  padding-top: 50px;
  margin-bottom: 20px;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .last-shop a {
  display: block;
  width: 236px;
  height: 90px;
  text-align: left;
  padding: 0;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .last-shop a .shop-img {
  position: absolute;
  top: 30px;
  right: 20px;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .last-shop a .shop-img img {
  width: 80px;
  height: 80px;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .last-shop a .lastshop-title {
  margin: -10px 110px 5px 30px;
  font-size: 14px;
  font-weight: 400;
  color: #424242;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .last-shop a .price {
  margin: 0 110px 0 30px;
  font-size: 12px;
  color: #ff6700;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .last-shop a .price span {
  font-size: 14px;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .more-shop {
  position: relative;
  width: 236px;
  height: 90px;
  margin: 0;
  padding-top: 50px;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .more-shop a {
  display: block;
  width: 236px;
  height: 90px;
  text-align: left;
  padding: 0;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .more-shop a .more-icon {
  position: absolute;
  top: 48px;
  right: 35px;
  width: 48px;
  height: 48px;
  color: #ff6700;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .more-shop a .more-icon i {
  font-size: 48px;
  line-height: 48px;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .more-shop a .more-hot {
  margin: 0 110px 0 30px;
  font-size: 18px;
  color: #333;
}
.main-wrapper .main .main-page .bd .goods-list .shops-list .last-shops-list ul .more-shop a .more-hot span {
  display: block;
  font-size: 12px;
  color: #757575;
}
.footer-wrapper .footer-top {
  background-color: #fff;
}
.footer-wrapper .footer-top .footer .service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
.footer-wrapper .footer-top .footer .service ul li {
  float: left;
  box-sizing: border-box;
  width: 20%;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  text-align: center;
  color: #616161;
  border-right: 1px solid #e0e0e0;
}
.footer-wrapper .footer-top .footer .service ul li a {
  transition: all 0.3s linear;
}
.footer-wrapper .footer-top .footer .service ul li a i {
  margin-right: 6px;
  font-size: 24px;
  line-height: 24px;
  vertical-align: -4px;
}
.footer-wrapper .footer-top .footer .service ul li a:hover {
  color: #ff6709;
}
.footer-wrapper .footer-top .footer .service ul > li:last-child {
  border-right: none;
}
.footer-wrapper .footer-top .footer .help {
  padding: 40px 0;
}
.footer-wrapper .footer-top .footer .help dl {
  float: left;
  width: 160px;
  height: 112px;
}
.footer-wrapper .footer-top .footer .help dl dt {
  margin: 0 0 26px;
  font-size: 14px;
  color: #424242;
}
.footer-wrapper .footer-top .footer .help dl dd {
  margin: 10px 0 0;
  font-size: 12px;
}
.footer-wrapper .footer-top .footer .help dl dd a:hover {
  color: #ff6709;
}
.footer-wrapper .footer-top .footer .help .call-contact {
  float: right;
  width: 20%;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}
.footer-wrapper .footer-top .footer .help .call-contact p {
  margin: 0 0 5px 0;
  font-size: 12px;
}
.footer-wrapper .footer-top .footer .help .call-contact .phone {
  font-size: 22px;
  line-height: 1;
  color: #ff6709;
}
.footer-wrapper .footer-top .footer .help .call-contact .customer-service {
  display: inline-block;
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  color: #ff6709;
  background-color: #fff;
  border: 1px solid #ff6709;
  transition: all 0.3s linear;
}
.footer-wrapper .footer-top .footer .help .call-contact .customer-service i {
  margin: 0 5px 0 0;
}
.footer-wrapper .footer-top .footer .help .call-contact .customer-service:hover {
  color: #fff;
  background-color: #ff6709;
}
.footer-wrapper .footer-top .footer .help .call-contact .follow {
  position: relative;
  margin-top: 10px;
  font-size: 12px;
}
.footer-wrapper .footer-top .footer .help .call-contact .follow a {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: -10px;
}
.footer-wrapper .footer-top .footer .help .call-contact .follow a i {
  font-size: 20px;
}
.footer-wrapper .footer-top .footer .help .call-contact .follow a:hover {
  color: #ff6709;
}
.footer-wrapper .footer-top .footer .help .call-contact .follow .wechat:hover ~ img {
  display: block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.footer-wrapper .footer-top .footer .help .call-contact .follow img {
  display: none;
  position: absolute;
  top: 20px;
  left: 100px;
  width: 126px;
  height: 126px;
  z-index: 9;
}
.footer-wrapper .copyright-wrapper {
  padding: 30px 0;
  font-size: 12px;
  background-color: #fafafa;
}
.footer-wrapper .copyright-wrapper .copyright {
  position: relative;
}
.footer-wrapper .copyright-wrapper .copyright .copy-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url(../img/logo-footer.png) no-repeat 50% 50%;
  text-indent: -99999px;
}
.footer-wrapper .copyright-wrapper .copyright .copy-content {
  padding-left: 67px;
  color: #b0b0b0;
}
.footer-wrapper .copyright-wrapper .copyright .copy-content p {
  line-height: 18px;
}
.footer-wrapper .copyright-wrapper .copyright .copy-content p a {
  color: #b0b0b0;
}
.footer-wrapper .copyright-wrapper .copyright .copy-content p a:hover {
  color: #ff6709;
}
.footer-wrapper .copyright-wrapper .copyright .copy-content .sites a {
  color: #757575;
}
.footer-wrapper .copyright-wrapper .copyright .copy-link {
  height: 28px;
  margin: 5px 0 0;
  padding-left: 67px;
}
.footer-wrapper .copyright-wrapper .copyright .copy-link a img {
  width: auto;
  height: 28px;
  margin-bottom: 15px;
}
.footer-wrapper .copyright-wrapper .sign-language {
  margin: 30px auto 0;
  width: 100%;
  height: 19px;
  background: url(../img/slogan2020.png) no-repeat center 0;
  text-indent: -999999px;
}
.bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.home-tool-bar {
  position: fixed;
  right: 0;
  bottom: 70px;
  z-index: 99;
}
.home-tool-bar ul li {
  position: relative;
  width: 80px;
  height: 90px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  text-align: center;
}
.home-tool-bar ul li a {
  display: block;
  width: 80px;
  height: 90px;
}
.home-tool-bar ul li a .bc-icon {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 20px auto 10px;
}
.home-tool-bar ul li a .bc-icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.home-tool-bar ul li a .bc-icon .active {
  z-index: 3;
}
.home-tool-bar ul li a .bc-icon .hover {
  z-index: 2;
}
.home-tool-bar ul li a span {
  font-size: 14px;
}
.home-tool-bar ul li a i {
  display: none;
}
.home-tool-bar ul li .scan-qrcode {
  display: none;
  position: absolute;
  top: 0px;
  left: -145px;
  padding: 14px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
}
.home-tool-bar ul li .scan-qrcode img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 6px auto;
}
.home-tool-bar ul li .scan-qrcode span {
  display: block;
  width: 82px;
  margin: 14px auto 0;
  text-align: center;
}
.home-tool-bar ul li .scan-qrcode i {
  display: block;
  width: 10px;
  height: 1px;
  background-color: #f5f5f5;
}
.home-tool-bar ul li .scan-qrcode .up {
  position: absolute;
  top: 31px;
  left: 127px;
  transform: rotateZ(45deg);
}
.home-tool-bar ul li .scan-qrcode .down {
  position: absolute;
  top: 38px;
  left: 127px;
  transform: rotateZ(-45deg);
}
.home-tool-bar ul li .scan-qrcode::after {
  position: absolute;
  top: 25px;
  left: 125px;
  content: '';
  width: 0;
  height: 0;
  line-height: 1;
  border: 10px solid transparent;
  border-right: none;
  border-left: 10px solid #fff;
}
.home-tool-bar ul li:hover a {
  color: #ff6709;
}
.home-tool-bar ul li:hover .scan ~ .scan-qrcode {
  display: block;
}
.home-tool-bar ul li:hover a .bc-icon .active {
  z-index: 1;
}
.home-tool-bar ul > li:last-child {
  visibility: hidden;
  margin-top: 15px;
}
@media (max-width: 1456px) {
  .home-tool-bar {
    position: fixed;
    left: 50%;
    margin-left: 613px;
    bottom: 40px;
    z-index: 99;
  }
  .home-tool-bar ul li {
    position: relative;
    width: 23px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    text-align: center;
  }
  .home-tool-bar ul li a {
    display: block;
    width: 25px;
    height: 40px;
  }
  .home-tool-bar ul li a .bc-icon {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 10px 3px 10px 2px;
  }
  .home-tool-bar ul li a .bc-icon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
  }
  .home-tool-bar ul li a .bc-icon .active {
    z-index: 3;
  }
  .home-tool-bar ul li a .bc-icon .hover {
    z-index: 2;
  }
  .home-tool-bar ul li a span {
    display: none;
    position: absolute;
    top: 5px;
    left: -95px;
    width: 80px;
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    text-align: center;
  }
  .home-tool-bar ul li a span::after {
    position: absolute;
    top: 5px;
    left: 80px;
    content: '';
    width: 0;
    height: 0;
    line-height: 1;
    border: 8px solid transparent;
    border-right: none;
    border-left: 8px solid #fff;
  }
  .home-tool-bar ul li a i {
    visibility: hidden;
    display: block;
    width: 10px;
    height: 1px;
    background-color: #f5f5f5;
  }
  .home-tool-bar ul li a .up {
    position: absolute;
    top: 15px;
    left: -15px;
    transform: rotateZ(45deg);
  }
  .home-tool-bar ul li a .down {
    position: absolute;
    top: 22px;
    left: -15px;
    transform: rotateZ(-45deg);
  }
  .home-tool-bar ul li .scan .content {
    display: none;
  }
  .home-tool-bar ul li .scan-qrcode {
    display: none;
    position: absolute;
    top: 0px;
    left: -145px;
    padding: 14px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
  }
  .home-tool-bar ul li .scan-qrcode img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 6px auto;
  }
  .home-tool-bar ul li .scan-qrcode span {
    display: block;
    width: 82px;
    margin: 14px auto 0;
    text-align: center;
  }
  .home-tool-bar ul li .scan-qrcode i {
    display: block;
    width: 10px;
    height: 1px;
    background-color: #f5f5f5;
  }
  .home-tool-bar ul li .scan-qrcode .up {
    position: absolute;
    top: 11px;
    left: 127px;
    transform: rotateZ(45deg);
  }
  .home-tool-bar ul li .scan-qrcode .down {
    position: absolute;
    top: 18px;
    left: 127px;
    transform: rotateZ(-45deg);
  }
  .home-tool-bar ul li .scan-qrcode::after {
    position: absolute;
    top: 5px;
    left: 125px;
    content: '';
    width: 0;
    height: 0;
    line-height: 1;
    border: 10px solid transparent;
    border-right: none;
    border-left: 10px solid #fff;
  }
  .home-tool-bar ul li:hover a,
  .home-tool-bar ul li:hover a span,
  .home-tool-bar ul li:hover a i {
    visibility: visible;
    display: block;
    color: #ff6709;
  }
  .home-tool-bar ul li:hover .scan ~ .scan-qrcode {
    display: block;
  }
  .home-tool-bar ul li:hover a .bc-icon .active {
    z-index: 1;
  }
  .home-tool-bar ul > li:last-child {
    margin-top: 15px;
  }
}
